**Lab | Inferential statistics - T-test & P-value**

1. One-tailed t-test

In [ ]:
# In a packing plant, a machine packs cartons with jars. 
# H0:It is supposed that a **new machine** will pack **faster on average** than the machine currently used. 
# To **test that hypothesis**, the **times each machine takes to pack ten cartons** are recorded. 
# The results are in **seconds** in the tables in the file files_for_lab/machine.txt. 
# Assume that there is sufficient evidence to conduct the **t-test**, 
# does the data provide sufficient evidence to show if one machine is better than the other?

H0 = The new machine is faster on average than the old machine
H1 = The new machine is not faster on average than the old machine

How do I test this hypothesis?
Is there sufficient evidence to conduct the t-test?
Does the data provide sufficient evidence to show if one machine is better than the other?
How many cartons (ten cartons)

In [2]:
# Loading libraries

import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
# import warnings
# warnings.filterwarnings('ignore')

In [3]:
# Prepare your data:
# Reading data

with open('machine.txt', 'r', encoding='utf-16', errors='replace') as file:
    data = file.read()
data

'New machine\t    Old machine\n42.1\t        42.7\n41\t            43.6\n41.3\t        43.8\n41.8\t        43.3\n42.4\t        42.5\n42.8\t        43.5\n43.2\t        43.1\n42.3\t        41.7\n41.8\t        44\n42.7\t        44.1\n'

In [4]:
# Prepare your data:
# Reading data

import chardet
# Detect the encoding of the file
file_path = 'machine.txt'
with open(file_path, 'rb') as f:
    result = chardet.detect(f.read())
encoding = result['encoding']
print(f"Detected encoding: {encoding}")
# Read the file with the detected encoding
data = pd.read_csv(file_path, sep='\t', encoding=encoding)
data.head()

Detected encoding: UTF-16

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [ ]:
One-tailed t-test:
# Determine whether there is a statistically significant difference between the means of two groups, 
#while focusing on a specific direction of the difference.
# It is used to test whether the sample data provides enough evidence 
#to support a hypothesis that the population means are greater than or less than a certain value

In [5]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [6]:
# Rename 'New machine' to 'New'
#data.rename(columns={'New machine': 'New','Old machine': 'Old'}, inplace=True)
data.rename(columns={'New machine': 'New'}, inplace=True)
#print(data)
data

    New      Old machine
0  42.1             42.7
1  41.0             43.6
2  41.3             43.8
3  41.8             43.3
4  42.4             42.5
5  42.8             43.5
6  43.2             43.1
7  42.3             41.7
8  41.8             44.0
9  42.7             44.1

In [7]:
data.rename(columns={'Old machine': 'Old'}, inplace=True)
data

    New      Old machine
0  42.1             42.7
1  41.0             43.6
2  41.3             43.8
3  41.8             43.3
4  42.4             42.5
5  42.8             43.5
6  43.2             43.1
7  42.3             41.7
8  41.8             44.0
9  42.7             44.1

In [ ]:
# Prepare your data:
# Retrieve one column from a dataset
# Extract the column using square brackets
population_data = data["Old machine"]

In [10]:
# Extract the column using square brackets
sample_data = data['New']

# Print the extracted columns
#print("New Column:")
#print(sm_column)
sample_data.head()

0    42.1
1    41.0
2    41.3
3    41.8
4    42.4
Name: New, dtype: float64

In [ ]:
# Calculate the population mean
population_data = data['Old']
population_mean = sum(population_data) / len(population_data)

# Print the result
print("Population Mean:", population_mean)

In [21]:
#mean_column1 = data['Column1'].mean()
population_mean = data['Old machine'].mean()

KeyError: 'Old machine'

In [11]:
# Calculate the sample mean
sample_data = data['New'] # Sample data representing your sample (replace this with your actual data)
sample_mean = sum(sample_data) / len(sample_data)

# Print the result
print("Sample Mean:", sample_mean)

Sample Mean: 42.14

In [17]:
sample_mean = sample_data.mean()
print("Sample Mean:", sample_mean)
#sample_mean

Sample Mean: 42.14

In [19]:
sample_std = sample_mean.std(ddof=1)
sem = sample_std/np.sqrt(30)
#t = (sample_mean - population_mean) / sem

print("Our sample mean is: {:.2f}".format(sample_mean))
print("Our sample standard deviation is: {:.2f}".format(sample_std))
print("The sem is: {:.2f}".format(sem))
print()

Our sample mean is: 42.14
Our sample standard deviation is: nan
The sem is: nan

In [ ]:
t = (sample_mean - population_mean) / sem
print("Our statistic is: {:.2f}".format(t))
print("The p_value corresponding to our statistic is: {:.2f}".format(st.t.cdf(t,df = len(sample_data)-1)))
print("The significance level is set to 0.05")
print("We accept the H0?")

In [ ]:
# Prepare your data:
# Set specific value for comparison

specified_value = .. # The value to compare against

In [ ]:
For example, if you are conducting a one-tailed t-test to determine if a New machine is more effective than 
an Old machine, you might set Î¼0 to be the mean effectiveness of the old treatment. 
In this case, you are testing if the new machine is "greater than" the old treatment

In [ ]:
# Specify the null and alternative hypotheses:
H0 = The new machine is faster on average than the old machine
H1 = The new machine is not faster on average than the old machine

# Specify whether you are testing for "greater than" or "less than"

In [ ]:
# Perform the one-tailed t-test:

t_statistic, p_value = stats.ttest_1samp(data, specified_value)

# For a one-tailed test for greater than
p_value /= 2

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

In [ ]:
# Choose appropriate significance level (alpha)

In [ ]:
# Interpret the results:

In [ ]:
# H0: Our hypthesis is that the new machine packs faster than current machine: 
How do I test hypothesis?
Is there sufficient evidence to conduct the t-test?

## Questions:

* How to get **population_mean**?
* How to calculate **specified value**?
* How to calculate **significance level**?

___________________

2. Matched Pairs Test

In [ ]:
# In this challenge we will **compare dependent samples of data** describing our Pokemon (file files_for_lab/pokemon.csv). 
# Our goal is to see whether there is a **significant difference** between each Pokemon's defense and attack scores. 
# Our **hypthesis** is that the **defense and attack scores are equal**. 
# Compare the two columns to see if there is a statistically significant difference between them 
# and **comment on your result**.

H0: defense and attack scores are equal.
H1: defense and attack scores are not equal
    
How do I compare dependent samples?
How do I see a statistically significant difference?
How do I comment on my result?

In [ ]:
# Loading libraries

import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
# import warnings
# warnings.filterwarnings('ignore')

In [ ]:
# Reading data

#data = pd.read_csv('pokemon.csv')
data = pd.read_csv('../../Afternoon/lab-t-tests-p-values/files_for_lab/pokemon.csv') # Load your data from a CSV file 
data

In [ ]:
# Prepare your data:
# Organize your data in a format suitable for a paired samples test 
# Have two columns of data: one for the first set of measurements and another for the second set of measurements
# Measurements should be paired based on some relationship or matching criterion 
# (e.g.,measurements before and after an intervention).

In [ ]:
# Make sure data is properly cleaned and paired

In [ ]:
# Perform the paired t-test:

first_set = data['First_Set']  # Replace 'First_Set' with the name of your first set of data
second_set = data['Second_Set']  # Replace 'Second_Set' with the name of your second set of data

t_statistic, p_value = stats.ttest_rel(first_set, second_set)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

In [ ]:
# Interpret the results:

p-value < than significance level (e.g., 0.05) = reject the null hypothesis
indicating that there is a significant difference between the two sets of measurements.

p-value > than significance level (e.g., 0.05) = fail to reject the null hypothesis

___________________________

**Inferential statistics - ANOVA**

Part 1

In this activity, we will look at another example.
* Your task is to **understand the problem** and **write down all the steps to set up ANOVA**.
* After the next lesson, we will ask you to solve this problem using Python.

Here are the steps that you would need to work on:
* Null hypothesis
* Alternate hypothesis
* Level of significance
* Test statistic
* P-value
* F table

In [ ]:
Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. 
You have been given the task of **analyzing a plasma etching process** 
with respect to changing Power (in Watts) of the plasma beam. 

Data was collected and provided to you to conduct statistical analysis 
#and check if changing the power of the plasma beam has any effect on the etching rate by the machine. 
#You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. 
You can find the data anova_lab_data.xlsx file in the files_for_lab folder

H0: changing the power of the plasma beam has effect on the etching rate by the machine
H1: changing the power of the plasma beam has no effect on the etching rate by the machine 

How do I conduct statistical analysis on data?
How do I get power of the plasma beam and effect on the etching rate by the machine?
How do I measure the difference?
How do I measure the difference in the mean etching rate?
How do I measure the difference in the mean etching rate for different levels of power?
How do I compare different levels of power?

In [ ]:
# Reading data

#data = pd.read_excel('anova_lab_data.xlsx')
data = pd.read_excel('../../Afternoon/lab-t-tests-p-values/files_for_lab/anova_lab_data.xlsx')
data

Part 2

* In this section, use **Python to conduct ANOVA**.
* What **conclusions** can you draw from the experiment and why?

In [ ]:
# Import the required libraries

import scipy.stats as stats
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
# Ensure that your data is properly cleaned and prepared before performing the ANOVA analysis:

In [ ]:
# Prepare your data:
data = pd.read_csv('your_data.csv')  # Load your data from a CSV file or use your own data

In [ ]:
# Perform the ANOVA:
# Using scipy.stats

groups = data['Group']  # Replace 'Group' with the name of your group column
values = data['Values']  # Replace 'Values' with the name of your data column

f_statistic, p_value = stats.f_oneway(*[values[groups == group] for group in groups.unique()])

# Print the ANOVA results
print("F-statistic:", f_statistic)
print("P-value:", p_value)

In [ ]:
# Interpret the results:
If the p-value is less than your chosen significance level (e.g., 0.05), 
you can reject the null hypothesis, 
indicating that there are significant differences between at least two of the groups.

In [ ]:
# What conclusions can you draw from the experiment and why?